In [37]:
import numpy as np
import pandas as pd
import re as re

full_data = pd.read_csv('onlinefraud.csv')

In [33]:
print(full_data['oldbalanceOrg'].mean())

877762.2390818001

In [34]:
full_data['isFraud'].value_counts()

isFraud
0    97884
1     2116
Name: count, dtype: int64

In [5]:
data = full_data.head(2001)
data['isFraud'].value_counts()

isFraud
0    1956
1      45
Name: count, dtype: int64

In [36]:
print(data[['type']].groupby('type').value_counts())

type
CASH_IN     311
CASH_OUT    348
DEBIT       116
PAYMENT     999
TRANSFER    227
Name: count, dtype: int64

In [37]:
print(data[['type','isFraud']].groupby('type').mean())

           isFraud
type
CASH_IN   0.012862
CASH_OUT  0.034483
DEBIT     0.008621
PAYMENT   0.017017
TRANSFER  0.048458

In [38]:
print(data[['step']].groupby('step').value_counts())

step
1    2001
Name: count, dtype: int64

In [39]:
print(full_data[['step']].groupby('step').value_counts())

step
1      2708
2      1014
3       552
4       565
5       665
6      1660
7      6837
8     21097
9     37628
10    27274
Name: count, dtype: int64

In [40]:
print(full_data[['step','isFraud']].groupby('step').mean())

       isFraud
step
1     0.020679
2     0.025641
3     0.027174
4     0.028319
5     0.031579
6     0.032530
7     0.023987
8     0.019766
9     0.020437
10    0.021192

In [41]:
print(data[['amount','isFraud']].groupby('amount').mean())

            isFraud
amount
8.73            0.0
15.06           0.0
23.31           0.0
25.12           0.0
27.55           0.0
...             ...
2317408.88      0.0
2421578.09      0.0
2545478.01      0.0
2604219.11      0.0
3776389.09      0.0

[1994 rows x 1 columns]

In [42]:
print(list(map(tuple, np.where(pd.isnull(full_data['amount'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['step'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['type'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['oldbalanceOrg'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['oldbalanceDest'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['newbalanceOrig'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['newbalanceDest'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['nameDest'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['nameOrig'])))))
print(list(map(tuple, np.where(pd.isnull(full_data['isFraud'])))))

[()]
[()]
[()]
[()]
[()]
[()]
[()]
[()]
[()]
[()]

In [10]:
full_data['categoricalAmount'] = pd.qcut(full_data['amount'],10)
print(full_data[['categoricalAmount','isFraud']].groupby('categoricalAmount').mean())
print(full_data['categoricalAmount'].value_counts())

                          isFraud
categoricalAmount
(0.319, 3528.78]           0.0215
(3528.78, 7574.786]        0.0195
(7574.786, 12897.183]      0.0202
(12897.183, 22475.506]     0.0213
(22475.506, 52745.52]      0.0230
(52745.52, 109141.484]     0.0207
(109141.484, 173581.355]   0.0212
(173581.355, 256638.936]   0.0179
(256638.936, 397698.908]   0.0199
(397698.908, 10000000.0]   0.0264
categoricalAmount
(0.319, 3528.78]            10000
(3528.78, 7574.786]         10000
(7574.786, 12897.183]       10000
(12897.183, 22475.506]      10000
(22475.506, 52745.52]       10000
(52745.52, 109141.484]      10000
(109141.484, 173581.355]    10000
(173581.355, 256638.936]    10000
(256638.936, 397698.908]    10000
(397698.908, 10000000.0]    10000
Name: count, dtype: int64

C:\Users\Acer.DESKTOP-4HNT6UI\AppData\Local\Temp\ipykernel_5688\1078315354.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(full_data[['categoricalAmount','isFraud']].groupby('categoricalAmount').mean())

In [44]:
print(full_data['amount'].min())
print(full_data['amount'].max())

0.32
10000000.0

In [45]:
unique_names = full_data["nameDest"].unique()
len(unique_names)

51551

In [46]:
unique_names = full_data["nameOrig"].unique()
len(unique_names)

100000

In [47]:
print(full_data['oldbalanceOrg'].min())
print(full_data['oldbalanceOrg'].max())
print(len(np.where(full_data['oldbalanceOrg'] == 0)[0]))
full_data['categoricalOldbalanceOrg'] = pd.cut(full_data['oldbalanceOrg'],5)
print(full_data[['categoricalOldbalanceOrg','isFraud']].groupby('categoricalOldbalanceOrg').mean())
print(full_data['categoricalOldbalanceOrg'].value_counts())

0.0
33800000.0
31254
                           isFraud
categoricalOldbalanceOrg
(-33800.0, 6760000.0]     0.021297
(6760000.0, 13520000.0]   0.020619
(13520000.0, 20280000.0]  0.009709
(20280000.0, 27040000.0]  0.010791
(27040000.0, 33800000.0]  0.000000
categoricalOldbalanceOrg
(-33800.0, 6760000.0]       95740
(6760000.0, 13520000.0]      3298
(13520000.0, 20280000.0]      618
(20280000.0, 27040000.0]      278
(27040000.0, 33800000.0]       66
Name: count, dtype: int64

C:\Users\Acer.DESKTOP-4HNT6UI\AppData\Local\Temp\ipykernel_22400\2410227659.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(full_data[['categoricalOldbalanceOrg','isFraud']].groupby('categoricalOldbalanceOrg').mean())

In [48]:
print(np.where(full_data['oldbalanceOrg'] == 33800000.0))
np.array(full_data)[64526]

(array([64526], dtype=int64),)

array([9, 'CASH_IN', 211345.43, 'C1393868694', 33800000.0, 34000000.0,
       'C299715257', 765542.61, 701842.35, 0,
       Interval(173581.355, 256638.936, closed='right'),
       Interval(27040000.0, 33800000.0, closed='right')], dtype=object)

In [49]:
print(full_data['oldbalanceDest'].min())
print(full_data['oldbalanceDest'].max())
print(len(np.where(full_data['oldbalanceDest'] == 0)[0]))
full_data['categoricaloldbalanceDest'] = pd.cut(full_data['oldbalanceDest'],5)
print(full_data[['categoricaloldbalanceDest','isFraud']].groupby('categoricaloldbalanceDest').mean())
print(full_data['categoricaloldbalanceDest'].value_counts())

0.0
34000000.0
45703
                            isFraud
categoricaloldbalanceDest
(-34000.0, 6800000.0]      0.021245
(6800000.0, 13600000.0]    0.018472
(13600000.0, 20400000.0]   0.015515
(20400000.0, 27200000.0]   0.034483
(27200000.0, 34000000.0]   0.029412
categoricaloldbalanceDest
(-34000.0, 6800000.0]       96730
(6800000.0, 13600000.0]      2382
(13600000.0, 20400000.0]      709
(20400000.0, 27200000.0]      145
(27200000.0, 34000000.0]       34
Name: count, dtype: int64

C:\Users\Acer.DESKTOP-4HNT6UI\AppData\Local\Temp\ipykernel_22400\3869019999.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(full_data[['categoricaloldbalanceDest','isFraud']].groupby('categoricaloldbalanceDest').mean())

In [50]:
print(full_data['newbalanceOrig'].min())
print(full_data['newbalanceOrig'].max())
print(len(np.where(full_data['newbalanceOrig'] == 0)[0]))
full_data['categoricalnewbalanceOrig'] = pd.cut(full_data['newbalanceOrig'],5)
print(full_data[['categoricalnewbalanceOrig','isFraud']].groupby('categoricalnewbalanceOrig').mean())
print(full_data['categoricalnewbalanceOrig'].value_counts())

0.0
34000000.0
51836
                            isFraud
categoricalnewbalanceOrig
(-34000.0, 6800000.0]      0.021309
(6800000.0, 13600000.0]    0.020336
(13600000.0, 20400000.0]   0.009662
(20400000.0, 27200000.0]   0.010791
(27200000.0, 34000000.0]   0.000000
categoricalnewbalanceOrig
(-34000.0, 6800000.0]       95640
(6800000.0, 13600000.0]      3393
(13600000.0, 20400000.0]      621
(20400000.0, 27200000.0]      278
(27200000.0, 34000000.0]       68
Name: count, dtype: int64

C:\Users\Acer.DESKTOP-4HNT6UI\AppData\Local\Temp\ipykernel_22400\218271944.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(full_data[['categoricalnewbalanceOrig','isFraud']].groupby('categoricalnewbalanceOrig').mean())

In [51]:
print(full_data['newbalanceDest'].min())
print(full_data['newbalanceDest'].max())
print(len(np.where(full_data['newbalanceDest'] == 0)[0]))
full_data['categoricalnewbalanceDest'] = pd.cut(full_data['newbalanceDest'],5)
print(full_data[['categoricalnewbalanceDest','isFraud']].groupby('categoricalnewbalanceDest').mean())
print(full_data['categoricalnewbalanceDest'].value_counts())

0.0
38900000.0
46469
                            isFraud
categoricalnewbalanceDest
(-38900.0, 7780000.0]      0.021204
(7780000.0, 15560000.0]    0.020283
(15560000.0, 23340000.0]   0.017834
(23340000.0, 31120000.0]   0.023256
(31120000.0, 38900000.0]   0.052632
categoricalnewbalanceDest
(-38900.0, 7780000.0]       96349
(7780000.0, 15560000.0]      2761
(15560000.0, 23340000.0]      785
(23340000.0, 31120000.0]       86
(31120000.0, 38900000.0]       19
Name: count, dtype: int64

C:\Users\Acer.DESKTOP-4HNT6UI\AppData\Local\Temp\ipykernel_22400\874698883.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(full_data[['categoricalnewbalanceDest','isFraud']].groupby('categoricalnewbalanceDest').mean())

In [52]:

type_mapping = {"PAYMENT": 1, "TRANSFER": 2, "DEBIT": 3, "CASH_IN": 4, "CASH_OUT": 5}
full_data['type'] = full_data['type'].map(type_mapping)


full_data.loc[ full_data['amount'] <= 0.319, 'amount'] 						        = 0
full_data.loc[(full_data['amount'] > 0.319) & (full_data['amount'] <= 3528.78), 'amount'] = 1
full_data.loc[(full_data['amount'] > 3528.78) & (full_data['amount'] <= 7574.786), 'amount']   = 2
full_data.loc[(full_data['amount'] > 7574.786) & (full_data['amount'] <= 12897.183), 'amount']   = 3
full_data.loc[(full_data['amount'] > 12897.183) & (full_data['amount'] <= 22475.506), 'amount']   = 4
full_data.loc[(full_data['amount'] > 22475.506) & (full_data['amount'] <= 52745.52), 'amount']   = 5
full_data.loc[(full_data['amount'] > 52745.52) & (full_data['amount'] <= 109141.484), 'amount']   = 6
full_data.loc[(full_data['amount'] > 109141.484) & (full_data['amount'] <= 173581.355), 'amount']   = 7
full_data.loc[(full_data['amount'] > 173581.355) & (full_data['amount'] <= 256638.936), 'amount']   = 8
full_data.loc[(full_data['amount'] > 256638.936) & (full_data['amount'] <= 397698.908), 'amount']   = 9
full_data.loc[(full_data['amount'] > 397698.908) & (full_data['amount'] <= 10000000.0), 'amount']   = 10
full_data.loc[ full_data['amount'] > 10000000.0, 'amount'] 							        = 11
full_data['amount'] = full_data['amount'].astype(int)

full_data.loc[ full_data['oldbalanceOrg'] <= -33800.0, 'oldbalanceOrg'] 					       = 0
full_data.loc[(full_data['oldbalanceOrg'] > -33800.0) & (full_data['oldbalanceOrg'] <= 6760000.0), 'oldbalanceOrg'] = 1
full_data.loc[(full_data['oldbalanceOrg'] > 6760000.0) & (full_data['oldbalanceOrg'] <= 13520000.0), 'oldbalanceOrg'] = 2
full_data.loc[(full_data['oldbalanceOrg'] > 13520000.0) & (full_data['oldbalanceOrg'] <= 20280000.0), 'oldbalanceOrg'] = 3
full_data.loc[(full_data['oldbalanceOrg'] > 20280000.0) & (full_data['oldbalanceOrg'] <= 27040000.0), 'oldbalanceOrg'] = 4
full_data.loc[(full_data['oldbalanceOrg'] > 27040000.0) & (full_data['oldbalanceOrg'] <= 33800000.0), 'oldbalanceOrg'] = 5
full_data.loc[ full_data['oldbalanceOrg'] > 33800000.0, 'oldbalanceOrg']                                                = 6
full_data['oldbalanceOrg'] = full_data['oldbalanceOrg'].astype(int)

full_data.loc[ full_data['oldbalanceDest'] <= -34000.0, 'oldbalanceDest'] 					       = 0
full_data.loc[(full_data['oldbalanceDest'] > -34000.0) & (full_data['oldbalanceDest'] <= 6800000.0), 'oldbalanceDest'] = 1
full_data.loc[(full_data['oldbalanceDest'] > 6800000.0) & (full_data['oldbalanceDest'] <= 13600000.0), 'oldbalanceDest'] = 2
full_data.loc[(full_data['oldbalanceDest'] > 13600000.0) & (full_data['oldbalanceDest'] <= 20400000.0), 'oldbalanceDest'] = 3
full_data.loc[(full_data['oldbalanceDest'] > 20400000.0) & (full_data['oldbalanceDest'] <= 27200000.0), 'oldbalanceDest'] = 4
full_data.loc[(full_data['oldbalanceDest'] > 27200000.0) & (full_data['oldbalanceDest'] <= 34000000.0), 'oldbalanceDest'] = 5
full_data.loc[ full_data['oldbalanceDest'] > 34000000.0, 'oldbalanceDest']                                                = 6
full_data['oldbalanceDest'] = full_data['oldbalanceDest'].astype(int)

full_data.loc[ full_data['newbalanceOrig'] <= -34000.0, 'newbalanceOrig'] 					       = 0
full_data.loc[(full_data['newbalanceOrig'] > -34000.0) & (full_data['newbalanceOrig'] <= 6800000.0), 'newbalanceOrig'] = 1
full_data.loc[(full_data['newbalanceOrig'] > 6800000.0) & (full_data['newbalanceOrig'] <= 13600000.0), 'newbalanceOrig'] = 2
full_data.loc[(full_data['newbalanceOrig'] > 13600000.0) & (full_data['newbalanceOrig'] <= 20400000.0), 'newbalanceOrig'] = 3
full_data.loc[(full_data['newbalanceOrig'] > 20400000.0) & (full_data['newbalanceOrig'] <= 27200000.0), 'newbalanceOrig'] = 4
full_data.loc[(full_data['newbalanceOrig'] > 27200000.0) & (full_data['newbalanceOrig'] <= 34000000.0), 'newbalanceOrig'] = 5
full_data.loc[ full_data['newbalanceOrig'] > 34000000.0, 'newbalanceOrig']                                                = 6
full_data['newbalanceOrig'] = full_data['newbalanceOrig'].astype(int)

full_data.loc[ full_data['newbalanceDest'] <= -38900.0, 'newbalanceDest'] 					       = 0
full_data.loc[(full_data['newbalanceDest'] > -38900.0) & (full_data['newbalanceDest'] <= 7780000.0), 'newbalanceDest'] = 1
full_data.loc[(full_data['newbalanceDest'] > 7780000.0) & (full_data['newbalanceDest'] <= 15560000.0), 'newbalanceDest'] = 2
full_data.loc[(full_data['newbalanceDest'] > 15560000.0) & (full_data['newbalanceDest'] <= 23340000.0), 'newbalanceDest'] = 3
full_data.loc[(full_data['newbalanceDest'] > 23340000.0) & (full_data['newbalanceDest'] <= 31120000.0), 'newbalanceDest'] = 4
full_data.loc[(full_data['newbalanceDest'] > 31120000.0) & (full_data['newbalanceDest'] <= 38900000.0), 'newbalanceDest'] = 5
full_data.loc[ full_data['newbalanceDest'] > 38900000.0, 'newbalanceDest']                                                = 6
full_data['newbalanceDest'] = full_data['newbalanceDest'].astype(int)

In [53]:
full_data = full_data.drop(["categoricalAmount","categoricalOldbalanceOrg","categoricaloldbalanceDest","categoricalnewbalanceOrig","categoricalnewbalanceDest","nameDest"
,"nameOrig"],axis=1)

In [54]:
full_data.head(2000)

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,1,3,1,1,1,1,0
1,1,1,1,1,1,1,1,0
2,1,2,1,1,1,1,1,1
3,1,5,1,1,1,1,1,1
4,1,1,3,1,1,1,1,0
...,...,...,...,...,...,...,...,...
1995,1,1,2,1,1,1,1,0
1996,1,1,3,1,1,1,1,0
1997,1,3,1,1,1,1,1,0
1998,1,5,9,1,1,1,1,0
1999,1,1,2,1,1,1,1,0

In [58]:
import csv

with open('full_data_cleaned.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    writer.writerow(full_data.head(1))

    full_data_cleaned = np.array(full_data)
    for dataset in full_data_cleaned:
        writer.writerow(dataset)

In [61]:
full_data_cleaned

array([[ 1,  1,  3, ...,  1,  1,  0],
       [ 1,  1,  1, ...,  1,  1,  0],
       [ 1,  2,  1, ...,  1,  1,  1],
       ...,
       [10,  4,  8, ...,  1,  1,  0],
       [10,  5,  6, ...,  1,  1,  0],
       [10,  1,  4, ...,  1,  1,  0]], dtype=int64)

In [66]:
full_data

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,1,3,1,1,1,1,0
1,1,1,1,1,1,1,1,0
2,1,2,1,1,1,1,1,1
3,1,5,1,1,1,1,1,1
4,1,1,3,1,1,1,1,0
...,...,...,...,...,...,...,...,...
99995,10,1,2,1,1,1,1,0
99996,10,1,4,1,1,1,1,0
99997,10,4,8,1,1,1,1,0
99998,10,5,6,1,1,1,1,0
99999,10,1,4,1,1,1,1,0

In [38]:
num_ranges = 10

full_data['categoricalAmount'], quantiles = pd.qcut(full_data['amount'], q=num_ranges, labels=False, retbins=True)

code = ""
for i in range(num_ranges + 2):
    if i == 0:
        condition = f"full_data['amount'] <= {quantiles[i]}"
    elif i == num_ranges + 1:
        condition = f"full_data['amount'] > {quantiles[i-1]}"
    else:
        condition = f"(full_data['amount'] > {quantiles[i-1]}) & (full_data['amount'] <= {quantiles[i]})"
    code += f"full_data.loc[{condition}, 'amount'] = {i}\n"

print(code)
exec(code)

full_data['amount'] = full_data['amount'].astype(int)

print(full_data[['amount', 'isFraud']].groupby('amount').mean())

print(full_data['amount'].value_counts())

full_data.loc[full_data['amount'] <= 0.32, 'amount'] = 0
full_data.loc[(full_data['amount'] > 0.32) & (full_data['amount'] <= 3528.7800000000007), 'amount'] = 1
full_data.loc[(full_data['amount'] > 3528.7800000000007) & (full_data['amount'] <= 7574.786000000002), 'amount'] = 2
full_data.loc[(full_data['amount'] > 7574.786000000002) & (full_data['amount'] <= 12897.183000000003), 'amount'] = 3
full_data.loc[(full_data['amount'] > 12897.183000000003) & (full_data['amount'] <= 22475.506), 'amount'] = 4
full_data.loc[(full_data['amount'] > 22475.506) & (full_data['amount'] <= 52745.520000000004), 'amount'] = 5
full_data.loc[(full_data['amount'] > 52745.520000000004) & (full_data['amount'] <= 109141.48400000005), 'amount'] = 6
full_data.loc[(full_data['amount'] > 109141.48400000005) & (full_data['amount'] <= 173581.35499999998), 'amount'] = 7
full_data.loc[(full_data['amount'] > 173581.35499999998) & (full_data['amount'] <= 256638.93600000005), 'amount'] = 8
full_data.loc[(full_data['amount'] > 256638.93600000005) & (full_data['amount'] <= 397698.90800000017), 'amount'] = 9
full_data.loc[(full_data['amount'] > 397698.90800000017) & (full_data['amount'] <= 10000000.0), 'amount'] = 10
full_data.loc[full_data['amount'] > 10000000.0, 'amount'] = 11

         isFraud
amount
0       0.000000
1       0.021502
2       0.019500
3       0.020200
4       0.021300
5       0.023000
6       0.020700
7       0.021200
8       0.017900
9       0.019900
10      0.026400
amount
3     10000
2     10000
8     10000
9     10000
5     10000
7     10000
4     10000
6     10000
10    10000
1      9999
0         1
Name: count, dtype: int64

In [39]:
num_ranges = 5

full_data['categoricalOldbalanceOrg'], bins = pd.cut(full_data['oldbalanceOrg'], num_ranges, retbins=True)

range_boundaries = list(zip(bins[:-1], bins[1:]))

code = ""
for i, (lower, upper) in enumerate(range_boundaries):
    if i == 0:
        condition = f"full_data['oldbalanceOrg'] <= {lower}"
        code += f"full_data.loc[{condition}, 'oldbalanceOrg'] = {i}\n"
        condition = f"full_data['oldbalanceOrg'] > {lower}) & (full_data['oldbalanceOrg'] <= {upper})"
        code += f"full_data.loc[({condition}, 'oldbalanceOrg'] = {i + 1}\n"
    elif i == num_ranges - 1:
        condition = f"full_data['oldbalanceOrg'] > {lower}) & (full_data['oldbalanceOrg'] <= {upper})"
        code += f"full_data.loc[({condition}, 'oldbalanceOrg'] = {i + 1}\n"
        condition = f"full_data['oldbalanceOrg'] > {upper}"
        code += f"full_data.loc[{condition}, 'oldbalanceOrg'] = {i + 2}\n"
    else:
        condition = f"full_data['oldbalanceOrg'] > {lower}) & (full_data['oldbalanceOrg'] <= {upper})"
        code += f"full_data.loc[({condition}, 'oldbalanceOrg'] = {i + 1}\n"

print(code)
exec(code)

full_data['oldbalanceOrg'] = full_data['oldbalanceOrg'].astype(int)

print(full_data[['oldbalanceOrg', 'isFraud']].groupby('oldbalanceOrg').mean())

print(full_data['oldbalanceOrg'].value_counts())

full_data.loc[full_data['oldbalanceOrg'] <= -33800.0, 'oldbalanceOrg'] = 0
full_data.loc[(full_data['oldbalanceOrg'] > -33800.0) & (full_data['oldbalanceOrg'] <= 6760000.0), 'oldbalanceOrg'] = 1
full_data.loc[(full_data['oldbalanceOrg'] > 6760000.0) & (full_data['oldbalanceOrg'] <= 13520000.0), 'oldbalanceOrg'] = 2
full_data.loc[(full_data['oldbalanceOrg'] > 13520000.0) & (full_data['oldbalanceOrg'] <= 20280000.0), 'oldbalanceOrg'] = 3
full_data.loc[(full_data['oldbalanceOrg'] > 20280000.0) & (full_data['oldbalanceOrg'] <= 27040000.0), 'oldbalanceOrg'] = 4
full_data.loc[(full_data['oldbalanceOrg'] > 27040000.0) & (full_data['oldbalanceOrg'] <= 33800000.0), 'oldbalanceOrg'] = 5
full_data.loc[full_data['oldbalanceOrg'] > 33800000.0, 'oldbalanceOrg'] = 6

                isFraud
oldbalanceOrg
1              0.021297
2              0.020619
3              0.009709
4              0.010791
5              0.000000
oldbalanceOrg
1    95740
2     3298
3      618
4      278
5       66
Name: count, dtype: int64

In [40]:
num_ranges = 5

full_data['categoricalnewbalanceOrig'], bins = pd.cut(full_data['newbalanceOrig'], num_ranges, retbins=True)

range_boundaries = list(zip(bins[:-1], bins[1:]))

code = ""
for i, (lower, upper) in enumerate(range_boundaries):
    if i == 0:
        condition = f"full_data['newbalanceOrig'] <= {lower}"
        code += f"full_data.loc[{condition}, 'newbalanceOrig'] = {i}\n"
        condition = f"full_data['newbalanceOrig'] > {lower}) & (full_data['newbalanceOrig'] <= {upper})"
        code += f"full_data.loc[({condition}, 'newbalanceOrig'] = {i + 1}\n"
    elif i == num_ranges - 1:
        condition = f"full_data['newbalanceOrig'] > {lower}) & (full_data['newbalanceOrig'] <= {upper})"
        code += f"full_data.loc[({condition}, 'newbalanceOrig'] = {i + 1}\n"
        condition = f"full_data['newbalanceOrig'] > {upper}"
        code += f"full_data.loc[{condition}, 'newbalanceOrig'] = {i + 2}\n"
    else:
        condition = f"full_data['newbalanceOrig'] > {lower}) & (full_data['newbalanceOrig'] <= {upper})"
        code += f"full_data.loc[({condition}, 'newbalanceOrig'] = {i + 1}\n"

print(code)
exec(code)

full_data['newbalanceOrig'] = full_data['newbalanceOrig'].astype(int)

print(full_data[['newbalanceOrig', 'isFraud']].groupby('newbalanceOrig').mean())

print(full_data['newbalanceOrig'].value_counts())

full_data.loc[full_data['newbalanceOrig'] <= -34000.0, 'newbalanceOrig'] = 0
full_data.loc[(full_data['newbalanceOrig'] > -34000.0) & (full_data['newbalanceOrig'] <= 6800000.0), 'newbalanceOrig'] = 1
full_data.loc[(full_data['newbalanceOrig'] > 6800000.0) & (full_data['newbalanceOrig'] <= 13600000.0), 'newbalanceOrig'] = 2
full_data.loc[(full_data['newbalanceOrig'] > 13600000.0) & (full_data['newbalanceOrig'] <= 20400000.0), 'newbalanceOrig'] = 3
full_data.loc[(full_data['newbalanceOrig'] > 20400000.0) & (full_data['newbalanceOrig'] <= 27200000.0), 'newbalanceOrig'] = 4
full_data.loc[(full_data['newbalanceOrig'] > 27200000.0) & (full_data['newbalanceOrig'] <= 34000000.0), 'newbalanceOrig'] = 5
full_data.loc[full_data['newbalanceOrig'] > 34000000.0, 'newbalanceOrig'] = 6

                 isFraud
newbalanceOrig
1               0.021309
2               0.020336
3               0.009662
4               0.010791
5               0.000000
newbalanceOrig
1    95640
2     3393
3      621
4      278
5       68
Name: count, dtype: int64

In [41]:
num_ranges = 5

full_data['categoricaloldbalanceDest'], bins = pd.cut(full_data['oldbalanceDest'], num_ranges, retbins=True)

range_boundaries = list(zip(bins[:-1], bins[1:]))

code = ""
for i, (lower, upper) in enumerate(range_boundaries):
    if i == 0:
        condition = f"full_data['oldbalanceDest'] <= {lower}"
        code += f"full_data.loc[{condition}, 'oldbalanceDest'] = {i}\n"
        condition = f"full_data['oldbalanceDest'] > {lower}) & (full_data['oldbalanceDest'] <= {upper})"
        code += f"full_data.loc[({condition}, 'oldbalanceDest'] = {i + 1}\n"
    elif i == num_ranges - 1:
        condition = f"full_data['oldbalanceDest'] > {lower}) & (full_data['oldbalanceDest'] <= {upper})"
        code += f"full_data.loc[({condition}, 'oldbalanceDest'] = {i + 1}\n"
        condition = f"full_data['oldbalanceDest'] > {upper}"
        code += f"full_data.loc[{condition}, 'oldbalanceDest'] = {i + 2}\n"
    else:
        condition = f"full_data['oldbalanceDest'] > {lower}) & (full_data['oldbalanceDest'] <= {upper})"
        code += f"full_data.loc[({condition}, 'oldbalanceDest'] = {i + 1}\n"

print(code)
exec(code)

full_data['oldbalanceDest'] = full_data['oldbalanceDest'].astype(int)

print(full_data[['oldbalanceDest', 'isFraud']].groupby('oldbalanceDest').mean())

print(full_data['oldbalanceDest'].value_counts())

full_data.loc[full_data['oldbalanceDest'] <= -34000.0, 'oldbalanceDest'] = 0
full_data.loc[(full_data['oldbalanceDest'] > -34000.0) & (full_data['oldbalanceDest'] <= 6800000.0), 'oldbalanceDest'] = 1
full_data.loc[(full_data['oldbalanceDest'] > 6800000.0) & (full_data['oldbalanceDest'] <= 13600000.0), 'oldbalanceDest'] = 2
full_data.loc[(full_data['oldbalanceDest'] > 13600000.0) & (full_data['oldbalanceDest'] <= 20400000.0), 'oldbalanceDest'] = 3
full_data.loc[(full_data['oldbalanceDest'] > 20400000.0) & (full_data['oldbalanceDest'] <= 27200000.0), 'oldbalanceDest'] = 4
full_data.loc[(full_data['oldbalanceDest'] > 27200000.0) & (full_data['oldbalanceDest'] <= 34000000.0), 'oldbalanceDest'] = 5
full_data.loc[full_data['oldbalanceDest'] > 34000000.0, 'oldbalanceDest'] = 6

                 isFraud
oldbalanceDest
1               0.021245
2               0.018472
3               0.015515
4               0.034483
5               0.029412
oldbalanceDest
1    96730
2     2382
3      709
4      145
5       34
Name: count, dtype: int64

In [42]:
num_ranges = 5

full_data['categoricalnewbalanceDest'], bins = pd.cut(full_data['newbalanceDest'], num_ranges, retbins=True)

range_boundaries = list(zip(bins[:-1], bins[1:]))

code = ""
for i, (lower, upper) in enumerate(range_boundaries):
    if i == 0:
        condition = f"full_data['newbalanceDest'] <= {lower}"
        code += f"full_data.loc[{condition}, 'newbalanceDest'] = {i}\n"
        condition = f"full_data['newbalanceDest'] > {lower}) & (full_data['newbalanceDest'] <= {upper})"
        code += f"full_data.loc[({condition}, 'newbalanceDest'] = {i + 1}\n"
    elif i == num_ranges - 1:
        condition = f"full_data['newbalanceDest'] > {lower}) & (full_data['newbalanceDest'] <= {upper})"
        code += f"full_data.loc[({condition}, 'newbalanceDest'] = {i + 1}\n"
        condition = f"full_data['newbalanceDest'] > {upper}"
        code += f"full_data.loc[{condition}, 'newbalanceDest'] = {i + 2}\n"
    else:
        condition = f"full_data['newbalanceDest'] > {lower}) & (full_data['newbalanceDest'] <= {upper})"
        code += f"full_data.loc[({condition}, 'newbalanceDest'] = {i + 1}\n"

print(code)
exec(code)

full_data['newbalanceDest'] = full_data['newbalanceDest'].astype(int)

print(full_data[['newbalanceDest', 'isFraud']].groupby('newbalanceDest').mean())

print(full_data['newbalanceDest'].value_counts())

full_data.loc[full_data['newbalanceDest'] <= -38900.0, 'newbalanceDest'] = 0
full_data.loc[(full_data['newbalanceDest'] > -38900.0) & (full_data['newbalanceDest'] <= 7780000.0), 'newbalanceDest'] = 1
full_data.loc[(full_data['newbalanceDest'] > 7780000.0) & (full_data['newbalanceDest'] <= 15560000.0), 'newbalanceDest'] = 2
full_data.loc[(full_data['newbalanceDest'] > 15560000.0) & (full_data['newbalanceDest'] <= 23340000.0), 'newbalanceDest'] = 3
full_data.loc[(full_data['newbalanceDest'] > 23340000.0) & (full_data['newbalanceDest'] <= 31120000.0), 'newbalanceDest'] = 4
full_data.loc[(full_data['newbalanceDest'] > 31120000.0) & (full_data['newbalanceDest'] <= 38900000.0), 'newbalanceDest'] = 5
full_data.loc[full_data['newbalanceDest'] > 38900000.0, 'newbalanceDest'] = 6

                 isFraud
newbalanceDest
1               0.021204
2               0.020283
3               0.017834
4               0.023256
5               0.052632
newbalanceDest
1    96349
2     2761
3      785
4       86
5       19
Name: count, dtype: int64

In [43]:
import csv

full_data = full_data.drop(["categoricalAmount","categoricalOldbalanceOrg","categoricaloldbalanceDest","categoricalnewbalanceOrig","categoricalnewbalanceDest","nameDest"
,"nameOrig"],axis=1)
type_mapping = {"PAYMENT": 1, "TRANSFER": 2, "DEBIT": 3, "CASH_IN": 4, "CASH_OUT": 5}
full_data['type'] = full_data['type'].map(type_mapping)

with open('full_data_cleaned.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    writer.writerow(full_data.head(1))

    full_data_cleaned = np.array(full_data)
    for dataset in full_data_cleaned:
        writer.writerow(dataset)